apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "boilerr.fullname" . }}-controller-manager
  namespace: {{ include "boilerr.namespace" . }}
  labels:
    {{- include "boilerr.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "boilerr.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: manager
        {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        {{- include "boilerr.selectorLabels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "boilerr.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      {{- if .Values.priorityClassName }}
      priorityClassName: {{ .Values.priorityClassName }}
      {{- end }}
      terminationGracePeriodSeconds: {{ .Values.terminationGracePeriodSeconds }}
      containers:
      - name: manager
        image: {{ include "boilerr.image" . }}
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        command:
        - /manager
        args:
        {{- if .Values.controllerManager.leaderElection.enabled }}
        - --leader-elect
        {{- end }}
        - --health-probe-bind-address={{ .Values.controllerManager.health.bindAddress }}
        {{- if .Values.controllerManager.metrics.enabled }}
        - --metrics-bind-address={{ .Values.controllerManager.metrics.bindAddress }}
        {{- end }}
        {{- if .Values.controllerManager.logging.development }}
        - --zap-devel
        {{- end }}
        - --zap-log-level={{ .Values.controllerManager.logging.level }}
        securityContext:
          {{- toYaml .Values.securityContext | nindent 10 }}
        ports: []
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: {{ .Values.controllerManager.health.livenessProbe.initialDelaySeconds }}
          periodSeconds: {{ .Values.controllerManager.health.livenessProbe.periodSeconds }}
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: {{ .Values.controllerManager.health.readinessProbe.initialDelaySeconds }}
          periodSeconds: {{ .Values.controllerManager.health.readinessProbe.periodSeconds }}
        resources:
          {{- toYaml .Values.resources | nindent 10 }}
        env:
        {{- with .Values.extraEnv }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        volumeMounts:
        {{- with .Values.extraVolumeMounts }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      volumes:
      {{- with .Values.extraVolumes }}
      {{- toYaml . | nindent 6 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if or .Values.affinity .Values.podAntiAffinity.enabled }}
      affinity:
        {{- if .Values.podAntiAffinity.enabled }}
        podAntiAffinity:
          {{- if eq .Values.podAntiAffinity.type "requiredDuringSchedulingIgnoredDuringExecution" }}
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: app.kubernetes.io/name
                operator: In
                values:
                - {{ include "boilerr.name" . }}
            topologyKey: kubernetes.io/hostname
          {{- else }}
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: app.kubernetes.io/name
                  operator: In
                  values:
                  - {{ include "boilerr.name" . }}
              topologyKey: kubernetes.io/hostname
          {{- end }}
        {{- end }}
        {{- with .Values.affinity }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
